<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://camel.apache.org/schema/spring"
        xsi:schemaLocation="http://camel.apache.org/schema/spring https://camel.apache.org/schema/spring/camel-spring.xsd">

    <!--    Spring-Jdbc component-->
    <route id="InsertCardInfo">
        <from uri="activemq-demo:queue:anhnh.test.message.request?asyncConsumer=true" />
        <transacted ref="TX_REQUIRED"/>
        <log message="Request Body in InsertCardInfo: ${body}" />
        <process ref="insertRequestProcess" />
        <setHeader name="CamelRetrieveGeneratedKeys">
            <constant>true</constant>
        </setHeader>
        <log message="Request Body of insertResponseProcess: ${body}" />
        <to uri="spring-jdbc:dataSource"/>
        <process ref="insertResponseProcess" />
        <to uri="activemq-demo:queue:anhnh.test.message.response" />
    </route>

    <!--    Sql component-->
    <route id="InsertCardInfo-Sql">
        <from uri="activemq-demo:queue:anhnh.test.insert-sql.request?asyncConsumer=true" />
        <transacted ref="TX_REQUIRED"/>
        <log message="Request Body in InsertCardInfo-Sql: ${body}" />
        <process ref="insertSqlRequestProcess" />
        <log message="Request Body of insertSqlRequestProcess: ${body}" />
        <to uri="sql:INSERT INTO CARD_INFORMATION(CIF_ID, CUST_NAME, CARD_NUMBER, CARD_TYPE, UUID, CREATED_DATE, MODIFIED_DATE) VALUES(:#CIF_ID, :#CUST_NAME, :#CARD_NUMBER, :#CARD_TYPE, :#UUID, :#CREATED_DATE, :#MODIFIED_DATE)"/>
        <process ref="insertSqlResponseProcess" />
        <to uri="activemq-demo:queue:anhnh.test.insert-sql.response" />
    </route>

    <route id="SelectAllCardInfo">
        <from uri="direct:selectAll" />
        <process ref="selectAllRequestProcess" />
        <log message="Request Body of selectAllRequestProcess: ${body}" />
        <to uri="spring-jdbc:dataSource"/>
        <log message="Response Body of selectAllRequestProcess: ${body}" />
<!--        <process ref="selectAllResponseProcess" />-->
        <log message="Response Body of selectAllResponseProcess: ${body}" />
<!--        <to uri="activemq-demo:queue:anhnh.test.selectall.response" />-->
    </route>

    <route id="SelectByIdCardInfo">
        <from uri="direct:select" />
        <process ref="selectByIdRequestProcess" />
        <log message="Request Body of SelectByIdCardInfo: ${body}" />
        <to uri="spring-jdbc:dataSource"/>
        <log message="Response Body of selectByIdRequestProcess: ${body}" />
<!--        <process ref="selectAllResponseProcess" />-->
<!--        <log message="Response Body of selectByIdRequestProcess: ${body}" />-->
        <!--        <to uri="activemq-demo:queue:anhnh.test.selectall.response" />-->
    </route>

</routes>